<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <title>JSONsty | Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fast, Secure, and Free Cloud JSON Storage">
    <meta name="keywords" content="json, storage, json storage, cloud storage, temporary storage, json store, jsonstore, cloud json db">
    <link rel="stylesheet" href="assets/css/jsty.css">
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center;">
        <a href="/stores" style="display: inline-block;"><button class="button">Go To Stores</button></a>
        <a href="/api_documentation" style="display: inline-block;"><button class="button">View API Documentation</button></a>
        <form action="/logout" method="GET">
            <button type="submit" class="button" style="color: red;">Logout</button>
        </form>
    </div>
    <h2>Account</h2>
    <center><p>Here you can view info about your stores, modify them, and change things like API keys and your password!</p></center>
    <h2>User Information:</h2>
    <label for="email">E-Mail:</label>
    <input readonly name="email" id="email" value="{{email}}">
    <label for="account_type">Account Type:</label>
    <input readonly name="account_type" id="account_type" value="{{type}}">
    <label for="store_count">Store Count:</label>
    <input readonly name="store_count" id="store_count" value="{{store_count}} / 100">
    <br>
    <a href="/stores"><button class="button">View Stores</button></a>
    <label for="password_change"><h2>Change Password:</h2></label>
    <form action="/change_password" method="POST">
      <h3 style="color: {{color}};">{{msg}}</h3>
      <input type="password" name="old_password" id="password_change" placeholder="Old Password" required>
      <input type="password" name="new_password" id="password_change" placeholder="New Password" required>
      <input type="password" name="confirm_password" id="password_change" placeholder="Confirm Password" required>
      <button type="submit" class="button">Change Password</button>
    </form>
    <h3 style="color: {{color}};">{{u_msg}}</h3>
    <form action="/regen_api" method="GET">
        <label for="api_key"><h2>API Key:</h2></label>
        <input readonly name="api_key" id="api_key" value="{{api_key}}" style="width: 100%;">
        <button type="submit" class="button">Regenerate API Key</button>
    </form>
    <a href="/api_documentation"><button class="button">API Documentation</button></a>
    <hr>
    <form action="/logout" method="GET">
        <button type="submit" class="button" style="color: red;">Logout</button>
    </form>
  </body>
</html>
