<!DOCTYPE html>
<html style="overflow-y: auto;">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <title>JSONsty | Free Cloud JSON Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fast, Secure, and Free Cloud JSON Storage">
    <meta name="keywords" content="json, storage, json storage, cloud storage, temporary storage, json store, jsonstore, cloud json db">
    <link rel="stylesheet" href="assets/css/jsty.css">
  </head>
  <body>
    <div class="center-screen">
        <h1>JSONsty</h1>
        <h2>A fast, free, and secure way to store JSON data in the cloud.</h4>
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href="/signup" style="display: inline-block;"><button type="submit" class="button">Signup Now</button></a>
            <a href="/api_documentation" style="display: inline-block;"><button class="button">API Docs</button></a>
            <a href="/login" style="display: inline-block;"><button type="submit" class="button" style="color: #41adff;">Login Here</button></a>
        </div>
        <h3 style="text-align: center;">JSONsty offers a free solution for small scale projects to store data simply. We offer a REST API and web panel dashboard that will help you manage your data more effeciently. Use JSONsty as your next Development Database or a small scale cacheing database for your mobile application. With the services we offer, abilities are endless for storing your data... free!</h3>
        <footer>Powered by <a href="https://psty.io">psty.io</a> | Components provided by <a href="https://kognise.github.io/water.css/">Water.css</a></footer>
    </div>
  </body>
</html>