<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <title>JSON PSTY | Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fast, Secure, and Free Cloud JSON Storage">
    <meta name="keywords" content="json, storage, json storage, cloud storage, temporary storage, json store, jsonstore, cloud json db">
    <link rel="stylesheet" href="assets/css/jsty.css">
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center;">
        <a href="/" style="display: inline-block;"><button type="submit" class="button">Home</button></a>
    </div>
    <div class="center-screen">
      <fieldset>
        <legend>Signup</legend>
        <form action="/signup" method="POST">
        <p style="color: red;">{{error}}</p>
        <label for="email">E-Mail:</label>
        <input type="email" name="email" placeholder="example@site.com" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required>
        <center><button type="submit" class="button">Signup</button>
        <a href="/login"><p>Already have an account?</p></a></center>
        {{ recaptcha }}
        </form>
      </fieldset>
    </div>
  </body>
</html>