<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <title>JSONsty | Stores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fast, Secure, and Free Cloud JSON Storage">
    <meta name="keywords" content="json, storage, json storage, cloud storage, temporary storage, json store, jsonstore, cloud json db">
    <link rel="stylesheet" href="assets/css/jsty.css">
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center;">
        <a href="/account" style="display: inline-block;"><button class="button">Go To Account Settings</button></a>
        <a href="/api_documentation" style="display: inline-block;"><button class="button">View API Documentation</button></a>
        <form action="/logout" method="GET">
            <button type="submit" class="button" style="color: red;">Logout</button>
        </form>
    </div>
    <h2>Stores</h2>
    <p>Below are all of your data stores in our storage system. You can edit, delete or create them using our API, or delete and view them here.</p>
    <hr>
    <form action="/stores/create" method="POST">
      <h2>Create A Store</h2>
      <h3 style="color: {{color}};">{{msg}}</h3>
      <input type="text" name="store_name" id="store_name" placeholder="Store Name" required>
      <textarea type="text" name="data" rows="10" placeholder="{{fake_data}}" required></textarea>
      <button type="submit" class="button">Create Store</button>
      <hr>
    </form>
    <h3 style="color: {{color}};">{{u_msg}}</h3>
    <h2>Current Stores</h2>
    {{stores | safe}}
    <script src="assets/js/edit.js"></script>
    <script src="assets/js/save.js"></script>
    <script src="assets/js/cancel.js"></script>
  </body>
</html>